* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav  {
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
  box-sizing: border-box;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
nav li {
  margin: 0 2em;
}
nav li a {
  color: black;
  text-decoration: none;
  font-size: 1rem; 
  padding: 10px 20px;
}
nav li a:hover {
  background-color: #007bff;
  color: white; 
}
body{
  background-image: url('../media/background.jpeg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: "Andale Mono", "Courier New", monospace;
  font-size: 1rem
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}
#intro {
  border: 2px solid rgba(0, 123, 255, 0.5);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin-bottom: 2rem;
}
#cybersecurity-interest {
  border: 2px solid rgba(0, 123, 255, 0.5);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin-bottom: 2rem;
} 
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  justify-items: center;
  align-items: center;
  padding: 2rem;
}
  
.image-grid img {
  width: 100%;
  max-width: 10rem;
  height: auto;
  border-radius: 10%;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.img-grid:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}