* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
nav  {
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
  box-sizing: border-box;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
nav li {
  margin: 0 2em;
}
nav li a {
  color: black;
  text-decoration: none;
  font-size: 1rem; 
  padding: 10px 20px;
}
nav li a:hover {
  background-color: #007bff;
  color: white; 
}
body{
  display: flex;
  flex-direction: column;
  background-image: url('../media/background.jpeg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 10%;
  font-family: "Andale Mono", "Courier New", monospace;
  font-size: 1.1rem
}
h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
  color: black;
  margin-bottom: 1.6rem;

}
#intro {
  border: 2px solid rgba(0, 123, 255, 0.5);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin-bottom: 2rem;
}
#intro h1 {
  animation: float 3s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
#intro h2 {
  font-weight: bold;
  font-style: italic;
}
#cybersecurity-interest {
  border: 2px solid rgba(0, 123, 255, 0.5);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin-bottom: 2rem;
} 
#cybersecurity-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  margin-bottom: 2rem;
}
#cybersecurity-image img {
  max-width: 100%;
  height: auto;
}
#resume-header {
  border: 2px solid rgba(0, 123, 255, 0.5);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin-bottom: 2rem;
}
#core-competencies {
  border: 2px solid rgba(0, 123, 255, 0.5);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
#core-competencies ul {
    list-style: none;
    padding: 0;
}
#experience-items {
  border: 2px solid rgba(0, 123, 255, 0.5);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
#experience-items ul {
  list-style: none;
  line-height: 1.6;
}
#experience-items ul li {
  font-weight: bold;
  font-style: italic;
  margin-bottom: 1.6rem;
}
#resume-header h1 {
  animation: float 3s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
main {
  flex-grow:1;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: relative;
  width: 100%;
}
footer p {
  margin: 0;
  font-size: 1rem;
}
.all-plants h1 {
  animation: float 3s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
#image-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}
.image-card {
  width: 18rem;
  background-color: #e1f7d5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.image-card img {
  width: 100%;
  height: 15em;
  object-fit: cover;
  display: block;
}
.card {
  padding: 1rem;
}
.card p {
  font-size: 1rem;
  color: #555;
  margin-bottom:1rem;
  word-wrap: break-word;
}
#video-container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin: 20px;
  padding-bottom: 4rem;
}
iframe {
  max-width: 100%;
  height: auto;
  border: none;
}
@media (min-width: 37.5rem) {
  body {
    padding: 5rem;
    font-size: 1.2rem;
  }
  nav ul {
    justify-content: space-evenly;
  }
  .card {
    padding: 2rem;
  }
  #core-competencies ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  footer p {
    font-size: 1.1rem;
  }
}
@media (min-width: 64rem) {
  body {
    padding: 3rem;
    font-size: 1.3rem;
    max-width: 75rem;
    margin: auto;
  }
  nav li {
    margin: 0 3em;
  }
  .image-card {
    width: 22rem;
  }
  #video-container {
    padding-bottom: 6rem;
    max-width: 56.25rem;
    margin: 2rem auto;
  }
  #intro, #core-competencies, #experience-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
}
